pyside6~=6.4.2
cython~=0.29.32
torch~=1.13.1+cu117
torchvision~=0.14.1+cu117
pandas~=1.5.1
matplotlib~=3.6.1
setuptools~=65.5.0
scipy~=1.9.3
pillow~=9.4.0
numpy~=1.23.4
pycocotools~=2.0
opencv-python~=4.6.0.66
tqdm~=4.64.1
wget~=3.2
imantics~=0.1.12
scikit-image~=0.19.3
h5py~=3.7.0
scikit-learn~=1.1.3